
:root {
        --brand-color-main: #212121;
        --brand-color-text: #757575;
        --brand-color-focus: #2196f3;
        --brand-background-color: #2f303a;
        --brand-secondery-background:#F5F4FA;
        --main-white: #ffffff ;
    }

 a {
    text-decoration: none;
}

 ul {
     list-style-type: none;
 }

 button {
      cursor: pointer;
  }

 body {
     background-color: var(--main-white);
     font-family: 'Roboto';
     color: var(--brand-color-main);
 }

 .container {
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     padding: 0 15px;
     align-items: flex-start;
     align-content: center;
 }


 /* header */


.header-container{
 display: flex;
align-items: center;
border-bottom: 1px solid #ececec;
height: 80px;
}
 .page-header{
 }

.main-nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

 .main-nav .item + .item {
    margin-left: 50px;
 }

.header-menu{
    display: flex;
    margin-left: 93px;
}

.address{
    display: flex;
    align-items: center;
    margin-left: auto
    ;

}
.address .item + .item{
    margin-left: 50px;
}

 .logo-link {
    color: var(--brand-color-focus);
    font-family: 'Raleway';
        
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

 .sec-logo {
    color:var(--brand-color-main);
    font-family: 'Raleway';
        
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

 .header-nav {
    color: var(--brand-color-main);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.header-nav:hover{
    color: var(--brand-color-focus);
}

.header-nav:focus {
    color: var(--brand-color-focus);
}

.header-nav-index{
    color: var(--brand-color-focus);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.header-nav-portfolio{
    color: var(--brand-color-focus);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

.header-nav-portfolio:hover {
    color: var(--brand-color-focus);
}

.header-nav-portfolio:focus{
    color: var(--brand-color-focus);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

 .header-info {
    color: var(--brand-color-text);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14  ;
        letter-spacing: 0.02em;
}

.header-info:focus{
    color:var(--brand-color-focus);
}

.header-info:hover{
    color: var(--brand-color-focus);
}
/* main */

.section {
    padding-top: 47px;
    padding-bottom: 47px;
}



/* hero */
.hero {
    background-color: #2F303A;
    height: 600px;
}   

.hero-tittle {
        width: 696px;
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 200px ;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--main-white);
}

.button-hero{

font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    width: 216px;
    padding: 10px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--brand-color-focus);
    color: var(--main-white);
    display: block;
    margin: 0 auto;
}

/* about us */

.about-us{
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-us-text{
display: flex;
}

.about-us-text .about-us-blocks:not(:last-child) {
    margin-right: 30px;
}
.about-us-blocks{
    display: flexbox;
}

.sec-tittle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 10px ;
}

.sec-paragraph {
color: var(--brand-color-text);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

/* about us img */
 
.about-us-img{
    padding-bottom: 94px;
}

.images{
    display: flex;
    max-width: 100%;
    height: auto;
}

.images .index-img:not(last-child){
    padding-right: 30px;
}

.img-tittles{
    font-weight: 700;
    font-size: 36px;
    line-height:1.67;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

/* team */

.team{
    background-color: var(--brand-secondery-background);
    height: 648px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-members{
    display: flex;
}
.index-img{
    text-align: center;
}
.personal-description{
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-member{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.member-description {
    color: var(--brand-color-text);
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}
 /* footer */

 .footer{
    background-color: var(--brand-background-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
 }

.logo-link.bottom{
    margin-bottom: 20px;
    padding-left: 15px;
}

.footer-nav{
    margin-right: 0;

    font-style : normal;
}

 .sec-logo-footer{
    color: var(--main-white);
}

 .address{
    color: var(--main-white);
    font-size: 14px;
    line-height: 1.71;
 } 

.address:hover{
    color: var(--brand-color-focus);
}

.address:focus {
    color: var(--brand-color-focus);
}

 .footer-info{
    color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.71;
 }

.footer-info:hover{
    color: var(--brand-color-focus);
}

.footer-info:focus{
    color: var(--brand-color-focus);
}

 /* portfolio */

 .portfolio-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-main);
    border: transparent;
    background: #F5F4FA;
    padding: 6px 22px;  
    border-radius: 4px;
}
`
 .portfolio-button:hover{
    background-color: var(--brand-color-focus);
    color: var(--main-white);
 }

 .portfolio-button:focus{
    list-style: none;
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
}

    .portfolio-tittle{
            font-weight: 700;
            font-size: 18px;
            line-height: 2 ;
            letter-spacing: 0.06em;
    }

    .portfolio-paragraph{
        color: var(--brand-color-text);
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
    }